<div class="mail row">
    <div class="sidebar col-sm-2">
        <button class="compose btn btn-danger" (click)="onCompose()">
            Compose
        </button>
        <sidebar-nav (activeMailbox)="onMailboxSelected($event)" 
                     (activeItemNav)="onItemNavSelected($event)">
        </sidebar-nav>
    </div>

    <compose [activeMailbox]="activeMailbox" 
             [showCompose]="showCompose" 
             (onClose)="onClose($event)">
    </compose>

    <div class="inbox col-sm-10">
        <ul class="list-unstyled">
            <li *ngFor="let mail of mails | async | filterSearch: search">
                <mail [mail]=mail 
                      [toggleMail]=toggleMail 
                      (onMailSelected)="onMailSelected($event)">
                </mail>
            </li>
        </ul>
    </div>
</div>