<div class="activity-row" (click)="onClick()">
  <div class="activity-desc">
    <h5>{{hotel.name}}</h5>
    <p>{{hotel.addressLine1}}</p>
    <p>{{hotel.addressLine2}}</p>
    <p>{{hotel.addressCity}}</p>
    <h6>Tel:{{hotel.phone}}</h6>
  </div>
  <div class="activity-img">
    <p>Type: {{hotel.typeName}}</p>
    <ul>
      <li><img image-zoom src='../images/res.jpg'  alt=""/></li>
      <li><img image-zoom src='../images/r1.jpg'  alt=""/></li>
    </ul>
  </div>
  <div class="clear"> </div>
</div>