<div class="addMailbox">
    <h2>add mailbox</h2>
    <form name="$ctrl.form" ng-submit="$ctrl.send()">
        <div class="form-group">
            <input type="text" name="email" class="form-control" placeholder="name@gmail.com"
                   ng-model="$ctrl.mailbox.title" maxlength = "25" required
                   pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$">
            <div ng-messages="$ctrl.form.email.$error" ng-if='$ctrl.form.email.$dirty' role="alert">
                <div ng-message="required">Please enter a value for this field.</div>
                <div ng-message="pattern">This field must be a valid email.</div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="add" class="btn btn-primary"
                   ng-disabled="$ctrl.form.$invalid || $ctrl.form.$pristine">
        </div>
    </form>
</div>