<div class="activity-row">
    <a href="#" (click)="hotelClick(hotel)">
        <div class="activity-desc">
            <h5>{{hotel.title}}</h5>
            <p>{{hotel.city}}</p>
            <h6>Tel:{{hotel.telNumber}}</h6>
        </div>

        <div class="activity-img">
            <ul>
                <li><img [src]='hotel.image1Ref' alt=""/></li>
                <li><img [src]='hotel.image2Ref' alt=""/></li>
            </ul>
        </div>

        <div class="clear"></div>
    </a>
</div>