<div class="hotel element-left">
  <div class="element-bg-img"><img src="{{ data.image }}" alt="" class="img-responsive"> </div>
  <div class="element-left-bottom">
    <div class="ele-strip">
      <h2>{{ data.name }}</h2>
    </div>
    <div class="village">
      <h3>List of hotels</h3>
      <span class="line"> </span>
      <div class="activity_box">
        <div class="scrollbar" id="style-2">
          <app-mini
            *ngFor="let hotel of hotels"
            [hotel]="hotel"
            (click)="selectHotel(hotel)"
          ></app-mini>
        </div>
      </div>
    </div>
  </div>
</div>
