input.ng-dirty {
  background-color: rgba(200, 200, 0, 0.3);
}

input.ng-valid {
  background-color: rgba(0, 255, 80, 0.3);
}

input.ng-invalid {
  background-color: rgba(255, 10, 80, 0.3);
}

input.ng-pending {
  background-color: rgba(255,250, 80, 0.3);
}